<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd"
         version="3.0" >
    <servlet>
        <servlet-name>servtwo</servlet-name>
        <servlet-class>web.SecondServ</servlet-class>
        <init-param>
            <param-name>filename</param-name>
            <param-value>D:/java/apache-tomcat-10.0.11/webapps/servtwo/WEB-INF/classes/counter.txt</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>servtwo</servlet-name>
        <url-pattern>/sserv</url-pattern>
    </servlet-mapping>

</web-app>
